svg .board {

}

svg .board g {
  fill: #c4c0ae;
  fill-opacity: 0.6;
}
svg .board g:hover {
  fill: #c5c5b3;
  fill-opacity: 0.7;
}
svg .board g:hover text {
  fill-opacity: 1;
}

svg .board g polygon {
  stroke: #ebe6cf;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
svg .board g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}

svg .gr g {
    fill: #aeb8c4;
}

svg .gr g:hover {
    fill: #d1dceb;
}

svg .ro g {
    fill: #c4aeae;
}

svg .ro g:hover {
    fill: #ebd1d1;
}

svg .fr g {
    fill: #a7caa7;
}

svg .fr g:hover {
    fill: #b5ecb5;
}

svg .es g {
    fill: #c2ba76;
}

svg .es g:hover {
    fill: #f8eca6;
}
